{% extends "base.html" %}

{% block title %}IoT C2 – Page Not Found {% endblock %}

{% block content %}
     <div class="container">
        <h1>Page Not Found <small class="text-danger">Error 404</small></h1>
        <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
        <a href="/" class="btn btn-large btn-info">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </a>
    </div>
{% endblock %}