{% extends 'bootstrap/base.html' %} {# Add the bootstrap boilerplate... #}

{{ fontawesome_html() }}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    {{nav.site_navbar.render()}}
{% endblock %}