{% extends'base.html' %} {# Add the navbar... #}
{% import 'macros.html' as macros %}

{% block title %}Devices List{% endblock %}

{% block content %}
    <div class="container">
        <h1>Device List</h1>
        <h2>Current Device List for Server: {{ server }} </h2>
        <table class="table table-hover table-striped">
            <tr>
                <th>Device ID</th>
                <th>Device Type</th>
                <th>Status</th>
            </tr>

            {% for device in devices %}
                {{ macros.device_row(device, device_type[device], device_status[device]['status']) }}
            {% endfor %}
        </table>
    </div>
{% endblock %}