{% extends'base.html' %} {# Add the navbar... #}

{% import 'macros.html' as macros %}

{% block title %}Overview{% endblock %}

{% block content %}
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            {% if (category == "info") %}
                {% set alert_class = "alert alert-info" %}
            {% elif (category == "error") %}
                {% set alert_class = "alert alert-error" %}
            {% else %}
                {% set alert_class = "alert alert-warning" %}
            {% endif %}
            <div class="{{ alert_class }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <img src="{{ url_for('static', filename='logo.png') }}" class="img-fluid" alt="IoT C2 Logo">
        <h1>C2 System</h1>
        <h3>Server ID: {{ server_id }}</h3>
        <p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
    </div>
{% endblock %}